.Formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Formulario .titulo{
    padding-bottom: 10px;
    display: block;
    font-size: 24px;
}

.Formulario label {
  display: flex;
  justify-content: space-between; /* Empuja el input al extremo opuesto */
  align-items: center;
  gap: 20px; /* Crea un espacio exacto de 20px entre el texto y el input */
  margin-bottom: 10px;
  width: 300px; /* Ajusta el ancho para que todos midan lo mismo */
}

.Formulario input{
    border: 3px solid #EEEEEE;
    border-radius: 8px;
    padding: 10px;
    outline: none;
}

.Formulario span{
  display: block;
  color: tomato;
  font-size: x-small;
}

#texto{
  width: 300px;
  display: block;
  height: 100px;
  padding-top: 0;
  resize: none;
}

#submit{
  margin-top: 10px;
}