@import "tailwindcss";
@plugin "daisyui";

html {
    scroll-behavior: smooth;
}

@theme {
    --color-azul-marino: #202940;
    --color-marron-cafe: #4B4038;
    --color-marron-nuez: #9A8678;
    --color-marron-claro: #CAAA98;

}